:root {
    --global-palette1: #0a192f;
    --global-palette2: #f35f1c;
    --global-palette3: #fffffe;
    --global-palette4: #444444;
    --global-palette5: #bab6b6;
    --global-palette6: #ffffff;
    --global-palette7: #fff;
}

@import url('https://fonts.googleapis.com/css2? family= Anton & family= Cherry+Bomb+One & family= Dela+Gothic+One & family= Libre+Baskerville:wght@700 & family= Londrina+Solid:wght@100;900 & family= Red+Hat+Mono:wght@400;500 & display=swap');


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    width: 100%;
    background-color: var(--global-palette1);
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    gap: 30px;
    padding: 10px;
   
    
}
.header-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    width: 50%;
}
.header-logo img{
    width: 25%;
    
}
.logo-maps{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width:20%; 
}
.maps{
    padding: 5px;
    color: var(--global-palette3);
}
.logo-maps span{
    font-family: 'Libre Baskerville', serif;
    color: var(--global-palette3);
    margin-left: 2%;
    font-size: 12px;
    text-align: justify;
    line-height: 30px;
}
.logo {
    width: 60%;
  
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    width: 100%;
    margin-top: 2%;
    
}
/* lista sin formato */
ul {
    
    list-style: none;
    padding: 0px;

}

/* formato de lista */
.navbar-list li a {
    text-transform:uppercase;
    font-family: 'Libre Baskerville', serif;
    color: var(--global-palette4);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    text-align: left;
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 12px;
    font-weight: 700;
    


}

/* resalta al pasar el mouse en la lista */
.navbar-list li a:hover {
    color: var(--global-palette2);

}

.navbar-list>li {

    float: left;
}

/* oculta los sub menus */
.navbar-list li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

/* aparecen los submenus al pasar el mouse */
.navbar-list li:hover>ul {
    display: block;
}

.navbar-list li ul li a {
    text-transform: none;
    position: relative;
}

/* nav responsivo */
@media only sreen and (min-width:560px) {
    .navbar-list li {
        display: none;
    }


}

/* menu hamburguesa*/

.menu-label {
    width: 100%;
    padding: 10px 20px;
    color: var(--global-palette1);
    text-align: right;
    box-sizing: border-box;
    color: var(--global-palette7);
    font-size: 30px;
    display: none;
}

/* iconos de redes */
.redes-sociales{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width:20%;   
}
.redes{
    padding: 5px;
    color: var(--global-palette3);
}



/* carrusel */

.slider {
    border-radius: 0;
    box-shadow: 5px 5px hsl(0, 0%, 76%);
    position: relative;
    margin-top:3% ;
    margin-bottom: 30px;
}

.slider ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slider ul li {
    position: relative;
    display: none;
    height: 750px;
}

.slider ul li img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.slider ul li span {
    position: absolute;
    bottom: 0;
    background: hsla(60, 1%, 72%, 0.1);
    left: 0;
    width: 100%;
    padding: 50px;
    text-align: center;
    color: var(--global-palette2);
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;

}

/* buttons */
.slider .buttons {
    position: absolute;
    top: 40%;
    width: 100%;
}

.slider .buttons .next {
    font-size: 2rem;
    right: 0;
    position: absolute;
    cursor: pointer;
    width: 50px;
    text-align: center;
}

.slider .buttons .prev {
    font-size: 2rem;
    left: 0;
    position: absolute;
    cursor: pointer;
    width: 50px;
    text-align: center;
}

.slider .buttons .next:hover {
    background: hsl(31, 91%, 43%);
    color: hsl(0, 0%, 93%);
}

.slider .buttons .prev:hover {
    background: hsl(31, 91%, 43%);
    color: hsl(0, 0%, 93%);
}

/* slider animation */
.slider ul li {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

/* intro */
.introduccion {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    height: 50%;
}

.quienes-somos {
    display: flex;
    flex-direction: row;

}

.quienes-somos h1 {
    font-family: 'Londrina Solid', cursive;
    color: var(--global-palette4);
    font-size: 50px;
    text-align: left;
    display: flex;
    margin-top: 5px;
    font-weight: 900;
    margin-left: 4%;
    text-align: left;
    align-items: center;


}

.introduccion img {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30%;
    height: 30%;
    margin-top: 4%;
    border-radius: 5px;
    flex-wrap: wrap;

}

.introduccion img:hover {
    background-color: var(--global-palette7);
    z-index: 10;

    /* box-shadow: 0 0 15px #f35f1c;
    -moz-box-shadow: 0 0 15px #f35f1c;
    -webkit-box-shadow: 0 0 15px #f35f1c; */

    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);

}

.intro p {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    color: #444444;
    margin-left: 4%;
    width: 65%;
    height: 50%;
    font-size: 14px;
    text-align: justify;
    line-height: 35px;

}

.intro h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    color: var(--global-palette2);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 4%;
    margin-bottom: 0;

}

/* cajas con txt */
.cajas {
    width: 100%;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction:row;
    align-items: center;
    gap: 40px;
}
.cards{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    

}
.cajas-ficha {
    width: 80%;
    height:250px;
    height: auto;
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; 
    gap: 20px;
    border: 1px solid var(--global-palette4); 
   
}

.cajas-ficha a {
    display: inline-block;
    position: relative;
} 


 .cajas-ficha a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--global-palette3);
    font-size: 13px;
    font-family: 'Libre Baskerville', serif;
    text-align: left;
    display: none;


}

.cajas-ficha a:hover {
   
    background-color: var(--global-palette2);

}

.cajas-ficha a:hover span {
    display: block;
    opacity: 1;
    transform: scale (10);
}

.cajas-ficha a:hover img {
    opacity: 0.1;

} */

 /* h2 text */ 
 .cajas-txt h4 {
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
    color: var(--global-palette2);
    font-family: 'Londrina Solid', cursive;
    background: none;


} 

.cajas-ficha img {
    width: 100%;
    height: 300px;
    background-position: 50%;
    background-size: cover;
    position:relative;
    border-radius: 5px; 
}

a {

    text-decoration: none;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.formas-contacto {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-around;
    height: auto;
    background-image: linear-gradient(to right,
            rgba(21, 19, 18, 0.5),
            rgba(8, 7, 7, 0.5)), url(./assets/Logo/perrosc.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    margin-top: 50px;

}

.formas-contacto h4 {
    display: flex;
    flex-direction: row;
    color: var(--global-palette3);
    font-size: 15px;
    font-family: 'Londrina Solid', cursive;
}

.formas-contacto h3 {
    margin-top: 30px;
    font-family: 'Londrina Solid', cursive;
    font-size: 20px;
    text-align: center;
    color: var(--global-palette3);


}

.contacto {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 30px;
    justify-content: center;
    align-items: center;
    padding: 25px;


}

.contacto-label {
    color: #111;
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;

}

.contacto-input {
    background: rgba(255, 255, 255, 0.85);
    margin-top: 5px;
    border: none;
    height: 35px;


}

.contacto-mensaje {
    background: rgba(255, 255, 255, 0.85);
    border: none;
    color: var(--global-palette3);
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    font-weight: 25%;
    line-height: 35px;
    padding: 18px 20px;
    height: 165px;



}

.contacto-info {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: ;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Libre Baskerville', serif;
    color: var(--global-palette3);
    margin: 20px;

}

.contacto-txt {
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    color: var(--global-palette3);
    border: 2px solid var(--global-palette7);
    padding: 30px 30px;



}

.contacto-enviar {
    float: right;
    margin: 0;
    color: var(--global-palette6);
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.45px;
    padding: 13px 25px;
    background: none;
    border: 2px solid var(--global-palette7);


}



/* google maps */
#wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3 {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;





}

#map-9cd199b9cc5410cd3b1ad21cab2e54d3 {


    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5px;

}

/* footer final */
.copyright-redes {
    background-color: var(--global-palette1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

footer h4 {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: var(--global-palette1);
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    text-align: center;
    padding: 30px;
    color: #bab6b6;

}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-redes {
    color: var(--global-palette4);
    padding: 7px;

}

.footer-logo p {
    font-family: 'Londrina Solid', cursive;
    font-size: 20px;
    color: var(--global-palette2);
    margin-top: 30px;
    margin: 30px;
}

/* hr */
hr {
    border: 1px;
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10% 20% 10% 20%;
    background-color: var(--global-palette2);
    height: 2px;

}



/* pagina refugio */
.bloque-refugio {
    width: 100%;
    padding: 11rem 1rem;
    margin: auto;
    display: flex;
    justify-content: left;
    -webkit-box-align: center;
    align-items: center;
    background-image: linear-gradient(to right,
            rgba(21, 19, 18, 0.5),
            rgba(8, 7, 7, 0.5)),
        url(./Assets/Logo/gatitos.webp);
    background-position: 15%;
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title{
    margin-left: 2%;
    
 }
 .title h1{
    font-size: 50px;
    font-family: 'Londrina Solid', cursive;
    text-transform:uppercase;
    color: var(--global-palette3);
    font-weight: 900;
    margin-left: 5%;
}

.container-refugio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 25px;


}

.container-refugio h2 {
    width: 75%;
    font-family: 'Londrina Solid', cursive;
    color: var(--global-palette2);
    font-size: 40px;
    text-align: left;
    font-weight: 900;

}

.container-refugio .inf p {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    color: var(--global-palette4);
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    margin-top: 40px;
    line-height: 35px;

}

.container-refugio .inf {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;


}

.container-refugio .imagen {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;

}

.container-refugio img {
    height: 30%;
    width: 30%;
    border-radius: 5px;

}


/* icono fijo */
.icon-w {
    position: fixed;
    height: 5%;
    bottom: 13%;
    right: 50px;
    color: var(--global-palette2);
}

/* html ubicacion */
.bloque-ubicacion {
    width: 100%;
    padding: 11rem 1rem;
    margin: auto;
    display: flex;
    justify-content: left;
    -webkit-box-align: center;
    align-items: center;
    background-image: linear-gradient(to right,
            rgba(21, 19, 18, 0.5),
            rgba(8, 7, 7, 0.5)),
        url(./Assets/Logo/dog.jpg);
    background-position: 15%;
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title{
    margin-left: 2%;
    
 }
 .title h1{
    font-size: 50px;
    font-family: 'Londrina Solid', cursive;
    text-transform:uppercase;
    color: var(--global-palette3);
    font-weight: 900;
    margin-left: 5%;
}
.main-ubicacion{
     width: 100%;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    
}
.container-ubicacion {
    width:60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
    gap: 20px;
}

.container-ubicacion h2 {
    width: 60%;
    font-family: 'Londrina Solid', cursive;
    color: var(--global-palette2);
    font-size: 40px;
    text-align: justify;
    font-weight: 900;

}
.map{
    width: 60%;
}
 .map img {
    width: 100%;
}

.container-ubicacion p {
    width: 60%;
    color: var(--global-palette4);
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}

/* html como ayudar */
.bloque-ayuda {
    width: 100%;
    padding: 11rem 1rem;
    margin: auto;
    display: flex;
    justify-content: left;
    -webkit-box-align: center;
    align-items: center;
    background-image: linear-gradient(to right,
            rgba(21, 19, 18, 0.5),
            rgba(8, 7, 7, 0.5)),
        url(./Assets/Logo/ayuda1.webp);
    background-position: 50%;
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
}
.title{
    width: 100%;
    margin-left: 2%;
    
 }
 .title h1{
    font-size: 50px;
    font-family: 'Londrina Solid', cursive;
    text-transform:uppercase;
    color: var(--global-palette3);
    font-weight: 900;

}

.container-ayuda {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px;
}



.container-ayuda h2 {
    width: 50%;
    font-family: 'Londrina Solid', cursive;
    color: var(--global-palette1);
    font-size: 40px;
    text-align: left;
    font-weight: 900;
}

.container-ayuda p {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    padding: 10px;
    color: var(--global-palette4);
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    margin-top: 5px;
    line-height: 35px;
}

.container-ayuda .inf {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 25px;


}

.container-ayuda h3 {
    font-family: 'Londrina Solid', cursive;
    color: var(--global-palette2);
    font-size: 30px;
    text-align: left;
    font-weight: 900;
}

.ayudando {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 25px;
}

.inf .caja-inf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 35%;
    border: 0.1px solid #c3baba;
    padding: 10px;

}

.inf p {

    line-height: 15px;
    text-align: center;
    padding: 0%;
    font-size: 12px;


}

.container-ayuda img {
    width: 5%;

}

.inf h4 {

    font-family: 'Libre Baskerville', serif;
    color: var(--global-palette2);
    font-size: 40px;
    text-align: center;
    font-weight: 900;

}

.apadrinar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 25px;
}


.lugar-temporal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 25px;
}

.voluntario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 25px;
}

.ayuda-dinero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 25px;
}

.ayuda-dinero .list {
    display: list-item;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin-bottom: 5%;

}

.ayuda-dinero>ul {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    color: var(--global-palette4);
    width: 20%;
    height: 20%;
    text-align: justify;
    margin-left: 25%;
}

.ayuda-donando {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 25px;
    width: 100%;
}

.ayuda-latas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 50%;

}

.ayuda-latas-i {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.ayuda-latas-i img {
    width: 48%;

}

/* contacto html */
.bloque-contacto {
    width: 100%;
    padding: 11rem 1rem;
    margin: auto;
    display: flex;
    justify-content: left;
    -webkit-box-align: center;
    align-items: center;
    background-image: linear-gradient(to right,
            rgba(21, 19, 18, 0.5),
            rgba(8, 7, 7, 0.5)),
        url(./Assets/Logo/cats1.jpeg);
    background-position: 50%;
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title{
    margin-left: 2%;
    
 }
 .title h1{
    font-size: 50px;
    font-family: 'Londrina Solid', cursive;
    text-transform:uppercase;
    color: var(--global-palette3);
    font-weight: 900;
    margin-left: 5%;
}
.main-contacto{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.container-contacto {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:left;
    align-items:center;
    gap: 10px;


}

.container-contacto .contacto {
    width: 60%;
    margin: 0px;

}

.container-contacto h2 {
    width: 50%;
    font-family: 'Londrina Solid', cursive;
    color: var(--global-palette2);
    font-size: 40px;
    font-weight: 900;
    text-align: left;
}

.contacto .txt {
    width: 70%;
    color: var(--global-palette4);
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    line-height: 35px;
    margin: 2%;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.contacto-icon {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contacto-icon img {
    width: 8%;

}

/* castraciones html */
.bloque-castraciones {
    width: 100%;
    padding: 11rem 1rem;
    margin: auto;
    display: flex;
    justify-content: left;
    -webkit-box-align: center;
    align-items: center;
    background-image: linear-gradient(to right,
            rgba(21, 19, 18, 0.5),
            rgba(8, 7, 7, 0.5)),
        url(./Assets/Logo/cats-dog.jpeg);
    background-position: 50%;
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
}
 .title{
    margin-left: 2%;
    
 }
 .title h1{
    font-size: 50px;
    font-family: 'Londrina Solid', cursive;
    text-transform:uppercase;
    color: var(--global-palette3);
    font-weight: 900;
    margin-left: 5%;
}
.container-castraciones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;


}
.container-castraciones h2 {
    font-family: 'Londrina Solid', cursive;
    color: var(--global-palette2);
    font-size: 40px;
    text-align: left;
    font-weight: 900;
    margin-bottom: 20px 20px;


}


.container-castraciones h4 {
    font-family: 'Londrina Solid', cursive;
    color: var(--global-palette4);
    font-size: 20px;
    width: 50%;
    display: flex;
    justify-content: left;
    text-align: left;
    font-weight: 900;
    align-items: center;

}

.container-castraciones .inf {
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-wrap: wrap;
    color: var(--global-palette4);
    width: 50%;
    font-size: 14px;
    line-height: 35px;
    gap: 20px;

}

.container-castraciones .list {
    display: list-item;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    margin-bottom: 5%;
}

.container-castraciones>ul {

    width: 20%;
    height: 20%;
    text-align: justify;



}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto 5rem;
    text-align: center;

}

th,
td {
    padding: 1.5rem;
    font-size: 1.3rem;
}

tr {
    background: hsla(51, 33%, 88%, 0.7);
}

tr,
td {
    transition: .3s ease-in;
}

tr:first-child {
    background: var(--global-palette2);
    font-family: 'Libre Baskerville', serif;
}

tr:nth-child(even) {
    background: hsla(51, 33%, 88%, 0.7);
}

td:empty {
    background: hsla(51, 33%, 88%, 0.7);
}

tr:hover:not(#firstrow),
tr:hover td:empty {
    background: var(--global-palette4);
    pointer-events: visible;
}

tr:hover:not(#firstrow) {
    transform: scale(1.1);
    font-weight: 700;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
}

.container-castraciones img {
    width: 40%;
    border-radius: 5px;

}

.container-castraciones p {
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-wrap: wrap;
    color: var(--global-palette4);
    width: 50%;
    font-size: 14px;
    line-height: 35px;
    gap: 20px;
}
/* html rescates */
.bloque-rescates {
    width: 100%;
    padding: 11rem 1rem;
    margin: auto;
    display: flex;
    justify-content: left;
    -webkit-box-align: center;
    align-items: center;
    background-image: linear-gradient(to right,
            rgba(21, 19, 18, 0.5),
            rgba(8, 7, 7, 0.5)),
        url(./Assets/Logo/dog1.jpg);
    background-position: 50%;
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title{
    margin-left: 2%;
    
 }
 .title h1{
    font-size: 50px;
    font-family: 'Londrina Solid', cursive;
    text-transform:uppercase;
    color: var(--global-palette3);
    font-weight: 900;
    margin-left: 5%;
}

/* requisitos html */
.bloque-requisitos {
    width: 100%;
    padding: 11rem 1rem;
    margin: auto;
    display: flex;
    justify-content: left;
    -webkit-box-align: center;
    align-items: center;
    background-image: linear-gradient(to right,
            rgba(21, 19, 18, 0.5),
            rgba(8, 7, 7, 0.5)),
        url(./Assets/Logo/dog1.jpeg);
    background-position: 50%;
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title{
    margin-left: 2%;
    
 }
 .title h1{
    font-size: 50px;
    font-family: 'Londrina Solid', cursive;
    text-transform:uppercase;
    color: var(--global-palette3);
    font-weight: 900;
    margin-left: 5%;
}
.container-requisitos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}


.container-requisitos h2 {
    width: 50%;
    font-family: 'Libre Baskerville', serif;
    color: var(--global-palette2);
    font-size: 40px;
    text-align: left;
    font-weight: 900;



}

.container-requisitos h3 {
    width: 50%;
    font-family: 'Libre Baskerville', serif;
    color: var(--global-palette4);
    font-size: 20px;
    text-align: left;
    display: flex;
    font-weight: 900;
    text-align: left;
    align-items: center;
}

.container-requisitos .inf {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
    color: var(--global-palette4);
    font-size: 14px;
    line-height: 35px;
    gap: 20px;

}


.container-requisitos .list {
    display: list-item;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    margin-bottom: 5%;
}

.container-requisitos>ul {

    width: 20%;
    height: 20%;
    text-align: justify;



}

/* adopcion html */
.bloque-adopcion {
    width: 100%;
    padding: 11rem 1rem;
    margin: auto;
    display: flex;
    justify-content: left;
    -webkit-box-align: center;
    align-items: center;
    background-image: linear-gradient(to right,
            rgba(21, 19, 18, 0.5),
            rgba(8, 7, 7, 0.5)),
        url(./Assets/Logo/adopcion.jpeg);
    background-position: 50%;
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
}

.title{
    margin-left: 2%;
    
 }
 .title h1{
    font-size: 50px;
    font-family: 'Londrina Solid', cursive;
    text-transform:uppercase;
    color: var(--global-palette3);
    font-weight: 900;
    margin-left: 5%;
}

.card {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    border: none;
    gap:30px;
    


}


.card-ficha {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap: 20px;
    border: 1px solid var(--global-palette2);
    border-radius: 10px;
    

}

.card-ficha img {
    width: 30%;
    border-radius: 20px;
    padding: 10px;

}

.card-txt {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    
    
}

.card-txt h3 {
    font-family: 'Libre Baskerville', serif;
    color: var(--global-palette2);
    font-size: 20px;
    width: 80%;
    text-align:left;
    font-weight: 900;
}

.card-txt p {
    width: 90%;
    color: var(--global-palette4);
    font-size: 14px;
    line-height: 25px;
    font-family: 'Libre Baskerville', serif;
    text-align: justify;
}

.card-inf {
    width: 18%;
    padding:2%;
    color: var(--global-palette4);
    font-size: 14px;
    line-height:30px ;
    font-family:  'Libre Baskerville', serif;
    

}
.card-inf img{
    padding:2%
}
 .button-adopta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
   
    
} 
.button{
    width: 35%;
    background: #606de1;
    border-radius: 5px;
    color: var(--global-palette7);
    padding: 5px;
     
}
.container-rescates{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    border: none;
    gap:30px;
}

