:root {
    --global-palette1: #0a192f;
    --global-palette2: #f35f1c;
    --global-palette3: #fffffe;
    --global-palette4: #444444;
    --global-palette5: #bab6b6;
    --global-palette6: #ffffff;
    --global-palette7: #fff;
    
}

@import url('https://fonts.googleapis.com/css2? family= Anton & family= Cherry+Bomb+One & family= Dela+Gothic+One & family= Libre+Baskerville:wght@700 & family= Londrina+Solid:wght@100;900 & family= Red+Hat+Mono:wght@400;500 & display=swap');


/* nav */
@media screen and (min-width:481px) and (max-width:1135px){
    header {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        padding: 0px;
        background: #0a192f;

      
    }
    .redes-sociales{
        display: none;
    }

    .header-logo{
        width: 100%;
        justify-content: left;
        margin-left: 3%;

    }
    .header-logo img{
        width: 180px;
        
    }
    .logo-maps {
        display: none;
    }
    
    .toggle{
        display:block;
        width: 100%;
        align-items: center;
        justify-content: right;
        margin-right: 3%;
    }
   
   
    .navbar-list  {
        position: absolute;
        top: 0;
        margin-top: 20px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 2; 
       
       
        
        
} 
.navbar-list li a {
    text-transform:capitalize;
    font-family: 'Libre Baskerville', serif;
    color: var(--global-palette7);
    text-decoration: none;
    display: block;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 12px;
    font-weight: 500;
    height: auto;
    
}


  .toggle ~ .navbar-list{
    width: 100%;
    
    
  }
  .toggle ~ .navbar-list li {
    border: 1px solid var(--global-palette1);
    border-top: none;
    padding: 0.5em;
    transition: height 700ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: height 700ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: height 700ms cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: height 700ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: height 700ms cubic-bezier(0.23, 1, 0.32, 1);
}
  .toggle ~ .navbar-list li ul {
    display: none;
    width: 100%;
    background-color: var(--global-palette1);
   
}

.toggle ~ .navbar-list li:hover>ul {
    display: block;
    position:absolute;
    height: 150px;
}


.toggle ~  .navbar-list li ul li a {
    text-transform: none;
    height: auto;
    border-bottom: 1px solid var(--global-palette3) ;
}


  .navbar-list > li {
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: var(--global-palette3);
    background-color:var(--global-palette1);
   
    
   
    
    
  }
  .navbar-list > li:not(:last-child) {
    border-bottom: 1px solid var(--global-palette3) ;
  }
  

    .slider{
        display: none;
    }
    .container__principal {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        text-align: center;
        margin-top: 5%;
    }
    .container__principal .text {
        gap: 20px;
        width: 100%;
        text-align: center;
    
    }
    .container__principal .imagen {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 22px;
    
    }
    .container__principal .imagen img {
        width: 220px;
        height: 350px;
    
    }
    
    
    .navbar-list{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        background: var(--global-palette3);
        height: calc(300vh -80px);
        position: absolute;
        top: 80px;
        left: 0;
        display: none;
    }
    ul li{
      
        text-align: center;
        display: block;
        
    }
    .mobile{
        display: block;
    }
    
  .footer-contacto .inf{
    display: none;
  }
    .footer-contacto .map{
        display: none;
    }
    .footer-contacto .form{
        width: 80%;}
        h4{
            width: 80%;
        }
}
@media screen and (min-width:100px) and (max-width:480px){
    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        gap: 30px;
        padding: 0px;
        background: #0a192f;
    }
    .redes-sociales{
      display: none;
    }
   
    .header-logo{
        width: 50%;

    }
    .header-logo img{
        width: 180px;
    }
    .logo-maps {
        display: none;
    }
    
   
    .toggle{
        display: block;
    }
    .slider{
        display: none;
    }
    .container__principal {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        text-align: center;
        margin-top: 5%;
    }
    .container__principal .text {
        gap: 20px;
        width: 100%;
        text-align: center;
    
    }
    .container__principal .imagen {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 22px;
    
    }
    .container__principal .imagen img {
        width: 220px;
        height: 350px;
    
    }
    
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        display: none;
        background-color: var(--global-palette1);
    }
    ul li{
      
        text-align: center;
        display: block;
        
    }
    .mobile{
        display: block;
    }
    .footer-contacto .inf{
        display: none;
      }
        .footer-contacto .map{
            display: none;
        }
        .footer-contacto .form{
            width: 80%;
        }
        .footer-contacto  h4{
                width: 80%;
            }
    
footer h4{
    font-size: 10px;
}

    
}



/* rescates */


/* celular */
@media screen and (min-width:250px) and (max-width:480px){
    .band{
       grid-template-columns: repeat(1,1fr);
    }
    .item:nth-child(even),
    .item:nth-child(odd){
        grid-column:auto ;
        grid-row: auto;
    }
}
@media screen and (min-width:481px) and (max-width:1024px){
  
    .band{
        grid-template-columns: repeat(2,1fr);
     }
     .item:nth-child(even),
     .item:nth-child(odd){
         grid-column:auto ;
         grid-row: auto;
     }


}

